body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.9921568627450981);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:400px;
  display:flex;
}
#u3464 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Helvetica ", "Helvetica", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#454959;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:78px;
  width:359px;
  height:204px;
  display:flex;
  font-family:"Helvetica ", "Helvetica", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#454959;
}
#u3465 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
